.search-field {
	outline: none;
	padding: 15px;
	font-size: 15px;
}

.search-button {
	position: relative;
	padding: 5px;
	top: 8px;
	cursor: pointer;
}

.matching-cities {
	background-color: white;
	margin: 25px 0px;
	height: 250px;
	/* height: 100%; */
	overflow: auto;
}
