.search-field {
	outline: none;
	padding: 15px;
	font-size: 15px;
}

.search-button {
	position: relative;
	padding: 5px;
	top: 8px;
	cursor: pointer;
}

.matching-cities {
	background-color: white;
	margin: 45px 0px;
	height: 450px;
	overflow: auto;
}

.city-div {
	height: 50px;
	border-bottom: 3px solid rgb(62, 56, 146);
}

.city-a {
	position: relative;
	top: 15px;
	left: 5%;
	text-align: center;
	text-decoration: none;
	color: black;
	font-size: 20px;
}
