* {
	padding: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}
body {
	background-color: rgb(62, 56, 146);
}

.centered-horizontal {
	text-align: center;
}

.city-name {
	margin: 60px 0px 0px 0px;
	font-size: 70px;
}

.city-temperature {
	margin: 0px 0px 35px 0px;
	font-size: 65px;
}

.flex-horizontal {
	display: flex;
	flex-flow: row;
	flex-direction: row;
	justify-content: space-evenly;
}
